# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# coverage / test
coverage/

# editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# prisma
apps/api/prisma/*.db
